@font-face {
  font-family: '1FTV HF Gesco';
  src: url('../../../public/fonts/1FTV-HF-Gesco.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.logo {
    font-family: var(--font-display);
    font-size: var(--text-2xl);
    color: var(--color-cream);
    text-decoration: none;
}

.logo:focus,
.logo:hover {
    color: var(--color-cream);
}

.navbar {
    background-color: #5a4434ee;
    color: var(--color-cream);
    backdrop-filter: blur(10px);
    transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}



.navLink {
    color: var(--color-cream);
    font-weight: var(--weight-semibold);
}

.navbar {
    --bs-navbar-active-color: var(--color-ochre);
}

.navTranslate {
    color:  var(--color-sand);
    font-size: var(--text-xs);
    text-decoration: none;
    background: none;
    border: 0;
    padding: 4px 8px;
}

.navBuyBtn {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    padding: 8px 16px;
    border-radius: var(--radius-md);

    background-color: var(--color-ochre);
    color: var(--color-cream);
    font-weight: var(--weight-semibold);
    text-decoration: none;
    border: 0;
    animation: pulse 2s infinite;
}

.navBuyBtn span svg{
    margin-bottom: 5px;
    margin-left: 5px;
}

.navBuyBtn:hover {
    color: var(--color-cream);
    background-color: var(--color-terracotta);
}

.navBuyBtn:active {
    color: var(--color-cream);
    background-color: var(--color-terracotta) !important;
}

.navTranslate:hover,
.navLink:hover {
    color: var(--color-primary);
}

:global(.navbar-toggler) {
  border: none;
  box-shadow: none;
}

:global(.navbar-toggler:focus) {
  box-shadow: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(230, 126, 34, 0.2);
    }

    50% {
        transform: scale(1.05);
        box-shadow:
            0 0 12px rgba(230, 126, 34, 0.5),
            0 0 24px rgba(230, 126, 34, 0.35),
            0 0 36px rgba(230, 126, 34, 0.2);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(230, 126, 34, 0.2);
    }
}